<%= link_to 'New Task', new_task_path, class: "btn btn-success btn-sm" %>
<h2>Todo</h2>
<%= render partial: "table", locals: {tasks: @todo} %>
<h2>Done</h2>
<%= render partial: "table", locals: {tasks: @done} %>


<br>


